.menu_item {
    color: #bababa;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 0.7px;
    outline: none;
    padding: 12px 0;
    display: flex !important;
    align-items: center;
    font-style: italic;
}
